@model IEnumerable<Product>

@{
    Layout = "_CustomerLayOut";
}
@foreach(var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
        <div class="card">
            <div class="card-body">
                <div class="action-holder">
                    <span class="favorite-button"><i class="mdi mdi-heart-outline"></i></span>
                </div>
                <div class="product-img-outer">
                    <img class="product_image" src="@item.ImgUrl" alt="prduct image">
                </div>
                <p class="product-title">@item.Name</p>
                <p class="product-price">@item.Price</p>

                <p class="product-actual-price">@(item.Price+100) </p>


                <ul class="product-variation">
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                </ul>
                <p class="product-description">@item.Description</p>

                <a class="btn btn-sm btn-success mx-auto">Add to cart</a>
            </div>
        </div>
    </div>
    }
